.container{
    display: flex;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
}


h6{
    color: grey;
}

.num{
    display:flex ;
}

.num h6{
    padding-top: 8px;
    color: orange;
}

.two{
    margin-top: 20px;
}