<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
          L I V E - S C O R E
        </div>
        <div class="card-body">
          <h5 class="card-title">W E L C O M E</h5>
          <p class="card-text">Get Live Football, Cricket and Basketball related scores with LiveScore! We cover all Countries, Leagues and Competitions in unbeatable detail. Subscribe Now!</p>
          <a routerLink="/home" class="btn btn-success">RETURN TO MAIN PAGE</a> <br> <br>
          <a routerLink="/contact" class="btn btn-primary">S U B S C R I B E</a>
        </div>
        <div class="card-footer text-muted">
          T H A N K-Y O U
        </div>
      </div>
</body>
</html>